<script type="text/javascript">
    function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
    }
</script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/nucleodepericias.com.br\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Por favor, verifique se voc\u00ea n\u00e3o \u00e9 um rob\u00f4."}},"sending":"Enviando..."};
/* ]]> */
</script>
<!--<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/js/plugins.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/js/menu.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/assets/animations/animations.min.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/assets/jplayer/jplayer.min.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/js/parallax/translate3d.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-content/themes/nucleo/js/scripts.js?ver=14.8.1'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/comment-reply.min.js?ver=4.6.10'></script>
<script type='text/javascript' src='http://nucleodepericias.com.br/wp-includes/js/wp-embed.min.js?ver=4.6.10'></script>
-->
